@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');


body {
  font-family: poppins;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  width: 300px;
}

.modal-content {
  padding: 20px;
}

.back {
  color: rgb(43, 41, 41);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #999;
}

form {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 1rem auto;
  padding-right: 2.2rem;
  padding-left: .7rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 40px;
}

.password-container {
  position: relative;
}

.show-password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.show-password {
  position: absolute;
  left: -9999px;
}

.form-check {
  margin-bottom: 1rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}


.show-password {
  position: absolute;
  left: -9999px;
}

.show-password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url('./img/view.png'); /* Replace 'eye-icon.png' with the path to your image */
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.show-password-icon.change {
  background-image: url('./img/hide.png');
}

